.DS_Store
.vscode/
.idea/
.venv/
.env/
__pycache__/
.ipynb_checkpoints/
mlruns/

# Airflow
airflow.cfg
webserver_config.py
airflow.db
airflow-webserver.pid
logs/airflow_homework/firm-container-449802-i6-ccb8584e4a33.json
airflow_homework/firm-container-449802-i6-ccb8584e4a33.json
airflow_homework/firm-container-449802-i6-ccb8584e4a33.json
